// SLIDER
.slider{
	&__wrap {
		width: $desktop-width;
		margin: 0 auto;
		box-sizing: border-box;
	}

	&__title {
		font-family: $mont-bold;
		font-size: 22px;
		font-weight: bold;
		margin: 98px 0 34px 5px;
		cursor: default;
		text-align: center;
		letter-spacing: 0.1px;
		color: $dark;
	}
	&__steps {
		position: relative;
		float: left;
		width: 300px;
		height: 400px;
		margin-right: 20px;
		@include border-radius(4px);
		overflow: hidden;

		&--last {
			margin-right: 0;
		}
	}
}

.step {
	position: relative;
	width: 20000em;
	list-style: none;
	margin: 0;
	padding: 0;

	&__container {
		float: left;
		width: 300px;
		height: 400px;
		margin-right: 5px;
		@include border-radius(4px);
		padding: 0 20px;
		box-sizing: border-box;
		color: $white;
		background-position: center;

		&-info {
			height: 400px;
			position: relative;
			display: table-cell;
			vertical-align: bottom;
			bottom: 15px;
		}
	}

	&--last {
		margin-right: 0;
	}

	&__number {
		width: 50px;
		height: 20px;
		margin-bottom: 15px;
		padding: 0 10px;
		@include border-radius(10px);
		font: 10px/21px $mont-bold;
		text-transform: uppercase;
		text-align: center;
		letter-spacing: 1px;
		background-color: $red;
		cursor: pointer;
	}

	&__title {
		font: bold 24px/27px $mont-bold;
		letter-spacing: .04em;
	}

	&__text {
		display: block;
		line-height: 17px;
		margin-top: 14px;
		font-family: $roboto;
		font-size: 14px;
		font-weight: 300;
		color: $grey;
	}
}
.step1 {
	background-image: url(../img/step1.jpg);
}
.step2 {
	background-image: url(../img/step2.jpg);
}
.step3 {
	background-image: url(../img/step3.jpg);
}
.arrows__prev {
	display: block;
	position: absolute;
	top: 153px;
	left: 20px;
	width: 30px;
	height: 55px;
	background: url(../img/slider_arrows.png);
	background-position: 0 68px;
	opacity: 0.4;
	cursor: pointer;
	&:hover {
		opacity: 1;
	}
}
.arrows__next {
	display: block;
	position: absolute;
	top: 153px;
	right: 20px;
	width: 30px;
	height: 55px;
	background: url(../img/slider_arrows.png);
	background-position: 31px 68px;
	opacity: 0.4;
	cursor: pointer;
	&:hover {
		opacity: 1;
	}
}
