$wrapper-width: 1160px;
$wrapper-padding: 40px;
$style-color: #2a2d32;
$Main_font: 'Ubuntu', sans-serif;
$Second_font: 'Ubuntu Condensed', sans-serif;
$Arial_font: 'Arial Regular', sans-serif;
$blue-color: #248cec;
$gold-color: #f4b60d;
$gray-color: #f7f7f7;